.interstellar-space {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}
.sol-system {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  box-shadow: 1px 1px 105px firebrick;
  box-shadow: 1px 1px 85px goldenrod;
  background-color: red;
  --radius: 7rem;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url("../planetTextures/sun.jpg") repeat-x;
  background-size: 200% 100%;
  transition: transform 0.7s linear;
}
$random-number: random(10) + 10;
.random-placement {
 height: $random-number;
 width: $random-number;
}

