.interstellar-space {
  min-height: 100vh;
  min-width: 100vw;
}
.top-warp {
  height: 50vh;
  width: 100vw;
  background-color: purple;
  z-index: 99 !important;
}
.bottom-warp {
  height: 50vh;
  width: 100vw;
  background-color: purple;
  z-index: 99 !important;
}
.star-label {
  color: white;
}
.sol-system {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  box-shadow: 1px 1px 105px firebrick;
  box-shadow: 1px 1px 85px goldenrod;
  background-color: red;
  --radius: 7rem;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url("../planetTextures/sun.jpg") repeat-x;
  background-size: 200% 100%;
  transition: transform 0.7s linear;
}
// star positions on the front page
.planet {
  position: absolute;
  top: 50%;
  left: 50%;
}
.one {
  position: absolute;
  left: 80%;
  top: 5%;
}
.two {
  position: absolute;
  left: 40%;
  top: 15%;
}
.three {
  position: absolute;
  left: 15%;
  top: 55%;
}
.four {
  position: absolute;
  left: 25%;
  top: 60%;
}
.five {
  position: absolute;
  right: 35%;
  top: 60%;
}
.six {
  position: absolute;
  right: 75%;
  top: 30%;
}
.seven {
  position: absolute;
  right: 25%;
  bottom: 90%;
}
.eight {
  position: absolute;
  left: 55%;
  top: 60%;
}
.nine {
  position: absolute;
 right: 35%;
  bottom: 60%;
}
.ten {
  position: absolute;
  right: 15%;
  bottom: 80%;
}

