.starBall {
    width: 30px; 
    height: 30px;
}

/* red giant, red supergiant, blue giant, white dwarf, yellow dwarf, red dwarf, brown dwarf */
.yellow-dwarf {
    background-color: yellow;
}
.blue-giant {
    background-color: blue;
}
.white-dwarf {
    background-color: white;
}
.red-dwarf {
    background-color: red;

}
.brown-dwarf {
    background-color: brown;
}
.red-giant {
    background-color: red;
}
.red-supergiant {
    background-color:red;
}
.red-dwarf {
    background-color: red;
}
.starWrapper{
width: 300px;
color: white;
z-index: 1;
}

.star-label {
    text-align: center;
}
.sol-system {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    box-shadow: 1px 1px 105px firebrick; 
    box-shadow: 1px 1px 85px goldenrod; 
   
    --radius: 7rem;
 
      border-radius: 50%;
      animation: translateBackground 120s infinite linear;  
    background:url("../../planetTextures/sun.jpg") repeat-x;
    background-size: 200% 100%;
   z-index: 99;
      transition: transform 0.7s linear;
}