.starBall {
    width: 30px; 
    height: 30px;
    color: white;
}

/* red giant, red supergiant, blue giant, white dwarf, yellow dwarf, red dwarf, brown dwarf */
.yellow-dwarf {
    background-color: yellow;
    box-shadow: 1px 1px 105px firebrick;
    box-shadow: 1px 1px 85px goldenrod;
    background-color: red;
    --radius: 7rem;
    border-radius: 50%;
    animation: translateBackground 120s infinite linear;
    background: url("../../planetTextures/sun.jpg") repeat-x;
    background-size: 200% 100%;
    transition: transform 0.7s linear;
}
.blue-giant {
    transform: translate(-50%, -50%);
    background-size: cover;
    box-shadow: 1px 1px 105px firebrick; 
    box-shadow: 1px 1px 85px goldenrod; 
   
    --radius: 7rem;
 width: 60px;
 height: 60px;
      border-radius: 50%;
      animation: translateBackground 120s infinite linear;  
    background:url("../../starTextures/blue-giant.jpg") repeat-x;
    background-size: 200% 100%;
   z-index: 99;
      transition: transform 0.7s linear;
}
.white-dwarf {
    transform: translate(-50%, -50%);
    background-size: cover;
    box-shadow: 1px 1px 105px firebrick; 
    box-shadow: 1px 1px 85px goldenrod; 
   width: 20px;
   height: 20px;
    --radius: 7rem;
 
      border-radius: 50%;
      animation: translateBackground 120s infinite linear;  
    background:url("../../starTextures/white-dwarf.jpg") repeat-x;
    background-size: 200% 100%;
   z-index: 99;
      transition: transform 0.7s linear;
}

.brown-dwarf {
    transform: translate(-50%, -50%);
    background-size: cover;
    box-shadow: 1px 1px 105px firebrick; 
    box-shadow: 1px 1px 85px goldenrod; 
   width: 20px;
   height: 20px;
    --radius: 7rem;
 
      border-radius: 50%;
      animation: translateBackground 120s infinite linear;  
    background:url("../../starTextures/brown-dwarf.jpg") repeat-x;
    background-size: 200% 100%;
   z-index: 99;
      transition: transform 0.7s linear;
}
.red-giant {
    transform: translate(-50%, -50%);
    background-size: cover;
    box-shadow: 1px 1px 105px firebrick; 
    box-shadow: 1px 1px 85px goldenrod; 
   width: 60px;
   height: 60px;
    --radius: 7rem;
 
      border-radius: 50%;
      animation: translateBackground 120s infinite linear;  
    background:url("../../starTextures/red-supergiant.jpeg") repeat-x;
    background-size: 200% 100%;
   z-index: 99;
      transition: transform 0.7s linear;
}
.red-supergiant {
    transform: translate(-50%, -50%);
    background-size: cover;
    box-shadow: 1px 1px 105px firebrick; 
    box-shadow: 1px 1px 85px goldenrod; 
   width: 80px;
   height: 80px;
    --radius: 7rem;
 
      border-radius: 50%;
      animation: translateBackground 120s infinite linear;  
    background:url("../../starTextures/red-supergiant.jpeg") repeat-x;
    background-size: 200% 100%;
   z-index: 99;
      transition: transform 0.7s linear;
}
.red-dwarf {
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    background-size: cover;
    box-shadow: 1px 1px 105px firebrick; 
    box-shadow: 1px 1px 85px goldenrod; 
   
    --radius: 7rem;
 
      border-radius: 50%;
      animation: translateBackground 120s infinite linear;  
    background:url("../../starTextures/red-supergiant.jpeg") repeat-x;
    background-size: 200% 100%;
   z-index: 99;
      transition: transform 0.7s linear;
}
/* slots */
.one {
    
  top: 70%;
  left: 80%;
  }


.star-label {
    text-align: center;
}
.sol-system {
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    box-shadow: 1px 1px 105px firebrick; 
    box-shadow: 1px 1px 85px goldenrod; 
   
    --radius: 7rem;
 
      border-radius: 50%;
      animation: translateBackground 120s infinite linear;  
    background:url("../../planetTextures/sun.jpg") repeat-x;
    background-size: 200% 100%;
   z-index: 99;
      transition: transform 0.7s linear;
}