.generatedSystem {
   position: relative;
   min-height: 100vh;
   
}
.yellow-dwarf1 {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
    box-shadow: 1px 1px 45px gold;
    box-shadow: 1px 1px 35px goldenrod;
    background-color: red;
    --radius: 7rem;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    animation: translateBackground 120s infinite linear;
    background: url("../planetTextures/sun.jpg") repeat-x;
    background-size: 200% 100%;
    transition: transform 0.7s linear;
}
.blue-giant1 {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
    background-size: cover;
    box-shadow: 1px 1px 105px blue; 
    box-shadow: 1px 1px 85px blueviolet; 
  
    
 width: 70px;
 height: 70px;
      border-radius: 50%;
      animation: translateBackground 120s infinite linear;  
    background:url("../starTextures/blue-giant.jpg") repeat-x;
    background-size: 200% 100%;
   z-index: 99;
      transition: transform 0.7s linear;
}
.white-dwarf1 {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
    background-size: cover;
    box-shadow: 1px 1px 55px white; 
    box-shadow: 1px 1px 25px whitesmoke; 
   width: 30px;
   height: 30px;
      border-radius: 50%;
      animation: translateBackground 120s infinite linear;  
    background:url("../starTextures/white-dwarf.jpg") repeat-x;
    background-size: 200% 100%;
   z-index: 99;
      transition: transform 0.7s linear;
}

.brown-dwarf1 {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
    background-size: cover;
    box-shadow: 1px 1px 55px brown; 
    box-shadow: 1px 1px 35px goldenrod; 
   width: 30px;
   height: 30px;
    --radius: 7rem;
      border-radius: 50%;
      animation: translateBackground 120s infinite linear;  
    background:url("../starTextures/brown-dwarf.jpg") repeat-x;
    background-size: 200% 100%;
   z-index: 99;
      transition: transform 0.7s linear;
}
.red-giant1 {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
    box-shadow: 1px 1px 105px firebrick; 
    box-shadow: 1px 1px 85px firebrick; 
   width: 65px;
   height: 65px;
    --radius: 7rem;
      border-radius: 50%;
      animation: translateBackground 120s infinite linear;  
    background:url("../starTextures/red-supergiant.jpeg") repeat-x;
    background-size: 200% 100%;
   z-index: 99;
      transition: transform 0.7s linear;
}
.red-supergiant1 {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
    background-size: cover;
    box-shadow: 8px 8px 225px firebrick; 
    box-shadow: 5px 5px 145px red; 
   width: 25em;
  
   height: 25em;
      border-radius: 50%;
      animation: translateBackground 120s infinite linear;  
    background:url("../starTextures/red-supergiant.jpeg") repeat-x;
    background-size: 200% 100%;
   z-index: 99;
      transition: transform 0.7s linear;
}
.red-dwarf1 {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    box-shadow: 1px 1px 25px firebrick; 
    box-shadow: 1px 1px 20px red; 
 
      border-radius: 50%;
      animation: translateBackground 120s infinite linear;  
    background:url("../starTextures/red-supergiant.jpeg") repeat-x;
    background-size: 200% 100%;
   z-index: 99;
      transition: transform 0.7s linear;
}

/* exoplanets */
