.generatedSystem {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  z-index: -1;
}
.yellow-dwarf1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 45px gold;
  box-shadow: 1px 1px 35px goldenrod;
  background-color: red;
  --radius: 7rem;
  width: 12em;
  height: 12em;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url("../planetTextures/sun.jpg") repeat-x;
  background-size: 200% 100%;
  transition: transform 0.7s linear;
}
.blue-giant1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  box-shadow: 1px 1px 205px blue;
  box-shadow: 1px 1px 155px blueviolet;

  width: 25em;
  height: 25em;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url("../starTextures/blue-giant.jpg") repeat-x;
  background-size: 200% 100%;

  transition: transform 0.7s linear;
}
.white-dwarf1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  box-shadow: 1px 1px 55px white;
  box-shadow: 1px 1px 25px whitesmoke;
  width: 12em;
  height: 12em;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url("../starTextures/white-dwarf.jpg") repeat-x;
  background-size: 200% 100%;

  transition: transform 0.7s linear;
}

.brown-dwarf1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  box-shadow: 1px 1px 55px brown;
  box-shadow: 1px 1px 35px goldenrod;
  width: 12em;
  height: 12em;
  --radius: 7rem;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url("../starTextures/brown-dwarf.jpg") repeat-x;
  background-size: 200% 100%;
z-index: -1;
  transition: transform 0.7s linear;
}
.red-giant1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 105px firebrick;
  box-shadow: 1px 1px 85px firebrick;
  width: 20em;
  height: 20em;
  --radius: 7rem;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url("../starTextures/red-supergiant.jpeg") repeat-x;
  background-size: 200% 100%;

  transition: transform 0.7s linear;
}
.red-supergiant1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  box-shadow: 8px 8px 225px firebrick;
  box-shadow: 5px 5px 145px red;
  width: 25em;

  height: 25em;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url("../starTextures/red-supergiant.jpeg") repeat-x;
  background-size: 200% 100%;

  transition: transform 0.7s linear;
}
.red-dwarf1 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  box-shadow: 1px 1px 25px firebrick;
  box-shadow: 1px 1px 20px red;
  width: 12em;
  height: 12em;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url("../starTextures/red-supergiant.jpeg") repeat-x;
  background-size: 200% 100%;

  transition: transform 0.7s linear;
}

/* exoplanets */
.Barren-world {
  background-color: red;
  width: 1.7em;
  height: 1.7em;
  z-index: 1;
  border-radius: 50%;
margin-left: 100px;
  animation: translateBackground 120s infinite linear;
  background: url("../systems/exoplanettextures/barren.jpg") repeat-x;
  background-size: 200% 100%; 
}
.Rocky-world {
  background-color: brown;
  width: 1.7em;
  height: 1.7em;
  z-index: 1;
  border-radius: 50%;
  margin-top: 100px;
  animation: translateBackground 120s infinite linear;
  background: url("../systems/exoplanettextures/rocky.jpg") repeat-x;
  background-size: 200% 100%; 
}
.Frozen-world {
  background-color: white;
  width: 1.7em;
  height: 1.7em;
  z-index: 1;
  margin-bottom: 100px;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url("../systems/exoplanettextures/frozen.png") repeat-x;
  background-size: 200% 100%;
}
.Gas-giant {
  background-color: green;
  width: 4em;
  height: 4em;
  z-index: 1;
  margin-right: 150px;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url("../systems/exoplanettextures/gas.png") repeat-x;
  background-size: 200% 100%;
}
.Ocean-world {
  background-color: blue;
  width: 2em;
  height: 2em;
  z-index: 1;
  margin-bottom: 200px;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url("../systems/exoplanettextures/ocean.jpg") repeat-x;
  background-size: 200% 100%; 
}
.Desert-world {
  background-color: brown;
  width: 2em;
  height: 2em;
  z-index: 1;
  margin: 50px;
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url("../systems/exoplanettextures/desert.jpg") repeat-x;
  background-size: 200% 100%;
  
}
.Molten-world {
  background-color: red;
  width: 2em;
  height: 2em;
  z-index: 1;
  border-radius: 50%;
  margin-bottom: 200px;
  animation: translateBackground 120s infinite linear;
  background: url("../systems/exoplanettextures/lava.jpg") repeat-x;
  background-size: 200% 100%;
  
}
/* orbits */
.a1 {
  position: absolute;
  --radius: 7rem;
  top: calc(50% - var(--radius));
  left: calc(50% - var(--radius));
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  z-index: 8
}
.a2 {
  position: absolute;
  --radius: 9rem;
  top: calc(50% - var(--radius));
  left: calc(50% - var(--radius));
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  z-index: 7;
}
.a3 {
  position: absolute;
  --radius: 13rem;
  top: calc(50% - var(--radius));
  left: calc(50% - var(--radius));
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  z-index: 6
}
.a4 {
  position: absolute;
  --radius: 16rem;
  top: calc(50% - var(--radius));
  left: calc(50% - var(--radius));
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  z-index: 5
}
.a5 {
  position: absolute;
  --radius: 20rem;
  top: calc(50% - var(--radius));
  left: calc(50% - var(--radius));
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  z-index: 4
}
.a6 {
  position: absolute;
  --radius: 24rem;
  top: calc(50% - var(--radius));
  left: calc(50% - var(--radius));
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  z-index:3
}
.a7 {
  position: absolute;
  --radius: 27rem;
  top: calc(50% - var(--radius));
  left: calc(50% - var(--radius));
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  z-index: 2
}
.a8 {
  position: absolute;
  --radius: 31rem;
  top: calc(50% - var(--radius));
  left: calc(50% - var(--radius));
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  z-index: 1
}

