body {
  background-color: black;
  color: white;
}

/* planet start */ 
.planet{
  width:300px;
  height:300px;
  position:absolute;
  border-radius:50%;
  overflow:hidden;
  box-shadow: 0 0 60px -20px darkslateblue, -14px -15px 40px -10px rgba(255, 238, 191, 0.23);
  
}
.planet .mask{
  width:100%;
  height:100%;
  position: absolute;
  box-shadow:inset -10px -10px 40px #251303, inset 10px 10px 30px -10px darkslategrey;
  border-radius:50%;
}
.planet .background{
  animation: translateBackground 40s infinite linear;  
  background:url("https://web.cortland.edu/flteach/civ/DavidWeb/images/fullmapb.jpg") repeat-x;
  width:300px;
  height:300px;
  position:absolute;
  border-radius:50%;
}

.planet .clouds{
  background:url(http://artem.anmedio.ru/dev/planet/clouds.png) repeat-x;
  width:300px;
  height:300px;
  position:absolute;
  border-radius:50%;
  animation: translateBackground 30s infinite linear;
  opacity: 0.4;
}

.planet .wrap{
  width:300px;
  height:300px;
  position:absolute;
  border-radius:50%;
  animation: rotatePlanet 150s infinite linear;  
}
@keyframes translateBackground{
  0%{
    background-position-x:0;
  }
  100%{
    background-position-x:-600px;
  }
}
/* planet info view */ 
.planetView {
  border: 2px solid white;
  text-align: center;
}
.planetWrapper {
  text-align: center;
}

/* mini planets */
.earthMini {
  background-color: red;
}