body {
  background-color: black;
  color: white;
  z-index: 1;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: cover; 
}
.backgroundMaster {
  background-color: black;
  position: "absolute";
z-index: -1;
top: 0;
left: 0;

}

/* planet start */ 
.planet{
  width:300px;
  height:300px;
  position:absolute;
  border-radius:50%;
  overflow:hidden;
  box-shadow: 0 0 60px -20px darkslateblue, -14px -15px 40px -10px rgba(255, 238, 191, 0.23);
  
}
.planet .mask{
  width:100%;
  height:100%;
  position: absolute;
  box-shadow:inset -10px -10px 40px #251303, inset 10px 10px 30px -10px darkslategrey;
  border-radius:50%;
}
.planet .background{
  animation: translateBackground 40s infinite linear;  
  background:url("https://web.cortland.edu/flteach/civ/DavidWeb/images/fullmapb.jpg") repeat-x;
  width:300px;
  height:300px;
  position:absolute;
  border-radius:50%;
}

.planet .clouds{
  background:url(http://artem.anmedio.ru/dev/planet/clouds.png) repeat-x;
  width:300px;
  height:300px;
  position:absolute;
  border-radius:50%;
  animation: translateBackground 30s infinite linear;
  opacity: 0.4;
}

.planet .wrap{
  width:300px;
  height:300px;
  position:absolute;
  border-radius:50%;
  animation: rotatePlanet 150s infinite linear;  
}
@keyframes translateBackground{
  0%{
    background-position-x:0;
  }
  100%{
    background-position-x:-600px;
  }
}
/* planet end */ 
/* planet info view */ 
.planetView {
  border: 2px solid white;
  text-align: center;
}
.planetWrapper {
  text-align: center;
  overflow: auto; /* Recommended in case content is larger than the container */
  margin: auto; /* Center the item vertically & horizontally */
  position: absolute; /* Break it out of the regular flow */
  top: 0; left: 0; bottom: 0; right: 0; /* Set the bounds in which to center it, relative to its parent/container */
  margin-top: 15vh;
}
.back {
  text-align: right;
}
.sun {
  
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 105px firebrick; 
  box-shadow: 1px 1px 85px goldenrod; 
 
  
 
  position: absolute;
  --radius: 10vmin;
  top: calc(50% - var(--radius));
  left: calc(50% - var(--radius));
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
    border-radius: 50%;
    animation: translateBackground 120s infinite linear;  
  background:url("./components/planetTextures/sun.jpg") repeat-x;
  background-size: 200% 100%;
  transform: rotate(0deg);
	transition: transform 0.7s linear;
}
/* orbits of miniplanets */
.obj1 {
  --time: 0.5;
  --dist: 0.6;
  --size: 0.4;
}

.obj2 {
  --time: 1;
  --dist: 1;
  --size: 1;
}

.obj {

  --timeunit: 10s;
  --offsetunit: 30vmin;
  --sizeunit: 5vmin;

  position: absolute;
  top: calc(50% - calc(var(--size) * var(--sizeunit)));
  --offset: calc(var(--dist) * var(--offsetunit));/* distance from the center */
  left: calc(50% - var(--offset)); 
  width: calc(2 * var(--offset));
  animation: circleRound calc(var(--time) * var(--timeunit)) linear infinite;
}
.obj .inner {
  position: absolute;
  position: relative;
  width: calc(calc(2 * var(--size)) * var(--sizeunit));
  height: calc(calc(2 * var(--size)) * var(--sizeunit)); 
  border-radius: 50%;
  border-style: none;
  background-color: blue;
}

@keyframes circleRound {
  100% {
    transform: rotate(360deg);
  }
}
/* mini planets */

.miniPlanet:hover {
  color: green;
}
.planetLink {
  width: inherit;
  height: inherit;
}
.earthMini {
 
 width:3em;
 height:3em;
 border-radius:50%;

 animation: translateBackground 75s infinite linear, circle 15s infinite;  
  background:url("./components/planetTextures/earth.jpg") repeat-x;
  background-size: 100% 100%;

}
.marsMini {
  
  width:2em;
  height:2em;
  border-radius:50%;
  animation: translateBackground 70s infinite linear;  
   background:url("./components/planetTextures/mars.jpeg") repeat-x;
   background-size: 100% 100%;
 }
 .mercuryMini {
  
  width:1.5em;
  height:1.5em;
  border-radius:50%;
  animation: translateBackground 50s infinite linear;  
   background:url("./components/planetTextures/mercury.jpg") repeat-x;
   background-size: 100% 100%;
 }
 .venusMini {
  width:2em;
  height:2em;
  border-radius:50%;
  animation: translateBackground 65s infinite linear;  
   background:url("./components/planetTextures/venus.jpg") repeat-x;
   background-size: 100% 100%;
 }
 .juipterMini {
  width:6em;
  height:6em;
  border-radius:50%;
  animation: translateBackground 120s infinite linear;  
   background:url("./components/planetTextures/juipter.jpg") repeat-x;
   background-size: 100% 100%;
 }
 .saturnMini {
  width:5em;
  height:5em;
  border-radius:50%;
  animation: translateBackground 90s infinite linear;  
   background:url("./components/planetTextures/saturn.jpg") repeat-x;
   background-size: 100% 100%;
 }
 .uranusMini {
  width:4.5em;
  height:4.5em;
  border-radius:50%;
  rotate:(45deg);
  animation: translateBackground 80s infinite linear;  
   background:url("./components/planetTextures/uranus.jpg") repeat-x;
   background-size: 100% 100%;
 }
 .neptuneMini {
  width:4.5em;
  height:4.5em;
  border-radius:50%;
  animation: translateBackground 80s infinite linear;  
   background:url("./components/planetTextures/neptune.jpg") repeat-x;
   background-size: 100% 100%;
 }
/* end of miniplanets */ 

/* orbit animations on homepage */ 


	


/* end of orbit animations */ 