body {
  background-color: black !important;
  color: white;
  z-index: 1;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  
}
/* star background */ 

/* end background */ 

.loadingScreen {
  display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
.backgroundclass {
  background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
/* planet start */ 
.planet{
  width:300px;
  height:300px;
  position:absolute;
  border-radius:50%;
  overflow:hidden;
  box-shadow: 0 0 60px -20px darkslateblue, -14px -15px 40px -10px rgba(255, 238, 191, 0.23);
  
}
.planet .mask{
  width:100%;
  height:100%;
  position: absolute;
  box-shadow:inset -10px -10px 40px #251303, inset 10px 10px 30px -10px darkslategrey;
  border-radius:50%;
}
.planet .background{
  animation: translateBackground 40s infinite linear;  
  background:url("./components/planetTextures//earth.jpg") repeat-x;
 
  width:300px;
  height:300px;
  position:absolute;
  border-radius:50%;
}
.planet .mercury{
  animation: translateBackground 40s infinite linear;  
  background:url(./components/planetTextures/mercury.jpg) repeat-x ;
  background-size: 300px 300px;
  width:300px;
  height:300px;
 
  border-radius:50%;
}
.planet .mercury{
  animation: translateBackground 40s infinite linear;  
  background:url(./components/planetTextures/mercury.jpg) repeat-x ;
  background-size: 300px 300px;
  width:300px;
  height:300px;
 
  border-radius:50%;
}
.planet .venus{
  animation: translateBackground 40s infinite linear;  
  background:url(./components/planetTextures/venus.jpg) repeat-x ;
  background-size: 300px 300px;
  width:300px;
  height:300px;
 
  border-radius:50%;
}
.planet .mars{
  animation: translateBackground 40s infinite linear;  
  background:url(./components/planetTextures/mars.jpeg) repeat-x ;
  background-size: 300px 300px;
  width:300px;
  height:300px;
 
  border-radius:50%;
}
.planet .juipter{
  animation: translateBackground 40s infinite linear;  
  background:url(./components/planetTextures/juipter.jpg) repeat-x ;
  background-size: 300px 300px;
  width:300px;
  height:300px;
 
  border-radius:50%;
}
.planet .Saturn{
  animation: translateBackground 40s infinite linear;  
  background:url(./components/planetTextures/saturn.jpg) repeat-x ;
  background-size: 300px 300px;
  width:300px;
  height:300px;
 
  border-radius:50%;
}
.planet .Uranus{
  animation: translateBackground 40s infinite linear;  
  background:url(./components/planetTextures/uranus.jpg) repeat-x ;
  background-size: 300px 300px;
  width:300px;
  height:300px;
 
  border-radius:50%;
}
.planet .Neptune{
  animation: translateBackground 40s infinite linear;  
  background:url(./components/planetTextures/neptune.jpg) repeat-x ;
  background-size: 300px 300px;
  width:300px;
  height:300px;
 
  border-radius:50%;
}
.planet .clouds{
  background:url(http://artem.anmedio.ru/dev/planet/clouds.png) repeat-x;
  width:300px;
  height:300px;
  position:absolute;
  border-radius:50%;
  animation: translateBackground 30s infinite linear;
  opacity: 0.4;
}

.planet .wrap{
  width:300px;
  height:300px;
  position:absolute;
  border-radius:50%;
  animation: rotatePlanet 150s infinite linear;  
}
@keyframes translateBackground{
  0%{
    background-position-x:0;
  }
  100%{
    background-position-x:-600px;
  }
}
/* planet end */ 
/* planet info view */ 
.planetView {
  border: 2px solid white;
  text-align: center;
}
.planetWrapper {
  text-align: center;
  overflow: auto; /* Recommended in case content is larger than the container */
  margin: auto; /* Center the item vertically & horizontally */
  position: absolute; /* Break it out of the regular flow */
  top: 0; left: 0; bottom: 0; right: 0; /* Set the bounds in which to center it, relative to its parent/container */
  margin-top: 15vh;
}
.back {
  text-align: right;
}


/* orbits of miniplanets */
.sun {
  
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 105px firebrick; 
  box-shadow: 1px 1px 85px goldenrod; 
 
  

  position: absolute;
  --radius: 7rem;
  top: calc(50% - var(--radius));
  left: calc(50% - var(--radius));
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
    border-radius: 50%;
    animation: translateBackground 120s infinite linear;  
  background:url("./components/planetTextures/sun.jpg") repeat-x;
  background-size: 200% 100%;
 
	transition: transform 0.7s linear;
}

.orbitContainer {
  
  width:var(--s);
  height:var(--s);
  margin:auto;
  text-align: center;
  border-radius: 50%;
  
  overflow: auto; /* Recommended in case content is larger than the container */
  margin: auto; /* Center the item vertically & horizontally */
  position: absolute; /* Break it out of the regular flow */
  top: 0; left: 0; bottom: 0; right: 0; /* Set the bounds in which to center it, relative to its parent/container */
  font-weight:bold;
  animation: spin var(--d) linear infinite, translateBackground 100s infinite linear; 
  transform:rotate(0) translate(var(--o)) rotate(0);
}
.orbitContainer2 {
  
  width:var(--s);
  height:var(--s);
  margin:auto;
  text-align: center;
  border-radius: 50%;
  
  overflow: auto; /* Recommended in case content is larger than the container */
  margin: auto; /* Center the item vertically & horizontally */
  position: absolute; /* Break it out of the regular flow */
  top: 0; left: 0; bottom: 0; right: 0; /* Set the bounds in which to center it, relative to its parent/container */
  font-weight:bold;
  animation: spin var(--d) linear infinite; 
  transform:rotate(0) translate(var(--o)) rotate(0);
}
@keyframes spin {
  100% {
    transform:rotate(1turn) translate(var(--o)) rotate(-1turn);
  }
}
.mercuryPath {
  --d:20s; 
  --o:4.5rem;
  --s: 12rem;
  z-index: 9;
}
.venusPath {
  --d:21s;
  --o:5.8rem;
  --s: 18rem;
  z-index: 8;
}
.earthPath {
  --d:28s;
  --o:7.4rem;
  --s: 20rem;
  z-index: 7;
}
.marsPath {
  --d:31s;
  --o:9rem;
  --s: 22rem;
  z-index: 6;
}
.juipterPath {
  --d:57s;
  --o:13rem;
  --s: 35rem;
  z-index: 5;
}
.saturnPath {
  --d:79s;
  --o:17rem;
  --s: 45rem;
  z-index: 4;
}
.uranusPath {
  --d:95s;
  --o:21rem;
  --s: 55rem;
  z-index: 3;
}
.neptunePath {
  --d:120s;
  --o:25rem;
  --s: 55rem;
  z-index: 2;
}
/* end of orbit animation */ 
/* mini planets */
.miniPlanet {
  max-width: 6rem;
  
}


.earthMini {
  width:3em;
 height:3em;
 border-radius:50%;

 /* animation: translateBackground 75s infinite linear, ;   */
  background:url("./components/planetTextures/earth.jpg") repeat-x;
  background-size: 100% 100%;

}
.marsMini {
  
  width:2em;
  height:2em;
  border-radius:50%;
 
   background:url("./components/planetTextures/mars.jpeg") repeat-x;
   background-size: 100% 100%;
 }
 .mercuryMini {
  
  width:1.5em;
  height:1.5em;
  border-radius:50%;
  z-index: 9;
   background:url("./components/planetTextures/mercury.jpg") repeat-x;
   background-size: 100% 100%;
 }
 .venusMini {
  width:2em;
  height:2em;
  border-radius:50%;
  z-index: 8;
   background:url("./components/planetTextures/venus.jpg") repeat-x;
   background-size: 100% 100%;
 }
 .juipterMini {
  width:6em;
  height:6em;
  border-radius:50%;
   
   background:url("./components/planetTextures/juipter.jpg") repeat-x;
   background-size: 100% 100%;
 }
 .saturnMini {
  width:8.5em;
  height:8.5em;
  border-radius:50%;
   
   background:url("./components/planetTextures/saturnstatic.png") ;
   background-size: 100% 100%;
 }
 .rings {
  background:url("./components/planetTextures/rongs.png") ;
  background-size: 100% 100%;
  z-index: 99; 
  
 }
 .uranusMini {
  width:4.5em;
  height:4.5em;
  border-radius:50%;
  rotate:(45deg);
   
   background:url("./components/planetTextures/uranus.jpg") repeat-x;
   background-size: 100% 100%;
 }
 .neptuneMini {
  width:4.5em;
  height:4.5em;
  border-radius:50%;
  
   background:url("./components/planetTextures/neptune.jpg") repeat-x;
   background-size: 100% 100%;
 }
/* end of miniplanets */ 

